* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

.all-btns {
    display: flex;
}
.number-btns {
    display: flex;
    flex-wrap: wrap;
    max-width: 75px;
}

.operators {
    display: flex;
    flex-direction: column;
}
